<div style="text-align: center;">

    <h1 style="color: violet;">{{"Check 5 is : " }}<span style="color:black">{{+ 5|operation : 'odd'}}</span></h1>
    <h1 style="color: violet;">{{"Check 52 is : " }}<span style="color:black">{{ 52|operation : 'even'}}</span></h1>
    <h1 style="color: violet;">{{"Check 6 is : " }}<span style="color:black">{{6|operation : 'perfect'}}</span></h1>
    <h1 style="color: violet;">{{"check 37 is : " }}<span style="color:black">{{ 37|operation : 'prime'}}</span></h1>
    <h1 style="color: violet;">{{"Check 14 : " }}<span style="color:black">{{14|operation : 'odd'}}</span></h1>
    <h1 style="color: violet;">{{"Check 51 is : " }}<span style="color:black">{{51|operation : 'even'}}</span></h1>
    <h1 style="color: violet;">{{"Check 8 is : " }}<span style="color:black">{{8|operation : 'perfect'}}</span></h1>
    <h1 style="color: violet;">{{"check 32 is : " }}<span style="color:black">{{32|operation : 'prime'}}</span></h1>
    <!-- <h1> </h1> -->
    <!-- <h1 style="color: violet;"> is even</h1>
    <h1> {{}}</h1>
    <h1 style="color: violet;"> perfect</h1>
    <h1> {{}}</h1>
    <h1 style="color: violet;"> prime</h1>
    <h1> {{}}</h1>
    <h1 style="color: violet;"> is odd</h1>
    <h1> {{}}</h1>
    <h1 style="color: violet;"> even</h1>
    <h1> {{}}</h1>
    <h1 style="color: violet;"> perfect</h1>
    <h1> {{}}</h1>
    <h1 style="color: violet;"> prime</h1>
    <h1> {{}}</h1>
     -->

<!-- <h1 style="color: violet;">Custom pipe for multiplication 4*2 </h1>
<h1> {{4|myMultiply}}</h1> -->

</div>