<!-- <div class="container"> -->


<div class="container">
    <div class="col-sm-12">
        <div class="row">
            <img src="https://thumbs.dreamstime.com/z/customer-service-care-icon-special-blue-banner-backgr-isolated-background-abstract-illustration-127878574.jpg"
                alt="..." class="img-responsive" style="max-width:100%">
        </div>
    </div>
    <h2 style="text-align: center;" for="">Contact Information</h2>
    <p style="text-align: center;">Please fill out the contact information below</p>
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group required1">
                    <label class=" control-label" for="name">Name</label>
                    <!-- <label style="color: red" for="name">*</label> -->

                    <input type="text" class="form-control">
                    <label for="">First Name</label>
                </div>
            </div>
            <div class="col-sm-3">
                <div style="padding-top: 2rem;" class="form-group">
                    <input type="text" class="form-control">
                    <label for="">Last Name</label>

                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-sm-12">
                <div class="form-group">
                    <label for="name">Email</label>
                    <label style="color: red" for="name">*</label>

                    <input type="text" class="form-control">
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-sm-12">
                <div class="form-group">
                    <label for="name">Phone</label>
                    <label style="color: red" for="name">*</label>

                    <input type="text" class="form-control">
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-sm-12">
                <div class="form-group">
                    <label for="name">Address</label>
                    <label style="color: red" for="name">*</label>

                    <input type="text" class="form-control">
                </div>
            </div>
        </div>
        <div class="text-center">
            <button class="btn btn-success btn-lg " type="submit">Submit Form</button>
        </div>
    </div>
</div>